// Set box-sizing globally
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// Ensure the app containers fills the screen
html,
body,
#root {
  min-height: 100vh;
}

// Set the font-size so 1rem = 10px for easier styling
html {
  font-size: 62.5%;
}

// Font Variables
$text-font: 'Oswald', sans-serif;
$display-font: 'Luckiest Guy', sans-serif;

// Colors
$lt-blue: #85c7f2;
$mid-blue: #3884ff;
$bright-blue: #2462d9;
$dark-blue: #064165;

$jade: #1da1f2;
$seafoam: #34c9ad;
$lt-orange: #f7bc50;
$orange: #ff7f35;
$red: #f64141;
$white: #ffffff;
$charcoal: #343434;

#root {
  background-color: $dark-blue;
}
