.about-page {
  @import "/profileContainer.scss";

  & > div {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }
  h2 {
    font-family: $display-font;
    color: $white;
    font-size: 3rem;
    text-align: center;
    margin: 4rem auto 2rem;
    @include text-shadow;
    @include bp(mid) {
      font-size: 4rem;
    }
    @include bp(tablet) {
      font-size: 5rem;
    }
  }
  p {
    font-size: 1.6rem;
  }
  p,
  h3 {
    padding: 0 1rem;
    line-height: 2rem;
    font-family: $text-font;
  }
  .content-wrapper {
    padding: 2rem;
    background-color: $jade;
    @include drop-shadow;

    & > p {
      color: $white;
    }
  }
}
