.profile-container {
  color: $charcoal;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @include bp(large) {
    padding: 2rem 0 0 2rem !important;
  }

  p {
    font-weight: 300;
    line-height: 2rem;
    @include bp(small) {
      line-height: 2.4rem;
    }
  }

  h3 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2rem;
    color: $charcoal;
    font-family: $text-font;
  }

  strong {
    font-weight: 600;
    color: $orange;
  }

  &.content-wrapper {
    padding: 2rem 2rem 0 2rem;
  }

  .profile-card {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: $white;
    display: grid;
    border-radius: 10px;
    @include drop-shadow;

    // Grid layouts, media queries
    grid-template-columns: 50% 50%;
    @include bp(mid) {
      grid-template-columns: 16rem auto;
      grid-template-rows: 5rem auto;
    }

    @include bp(large) {
      margin: 0 2rem 2rem 0;
      display: flex;
      flex-flow: column nowrap;
      max-width: 30.7%;
    }

    // profile-card sections
    .profile-img-wrapper {
      max-width: 30rem;
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      grid-column: 1 2;
      overflow: hidden;
      border-radius: 50%;
      @include drop-shadow;

      @include bp(small) {
        width: 14rem;
        height: 14rem;
      }

      @include bp(mid) {
        grid-row-end: span 2;
        padding-bottom: unset;
      }

      @include bp(large) {
        margin: 0 auto 2rem;
        width: 100%;
        height: unset;
      }

      img {
        max-width: 100%;
      }
    }

    .profile-name-role {
      grid-column: 2 3;
    }

    .profile-bio {
      grid-column-end: span 2;
      padding-top: 2rem;

      @include bp(mid) {
        grid-column: 2;
      }
    }

    // Flip even-numbered card layout on max-width large
    &:nth-child(even) {
      .profile-img-wrapper {
        grid-column: 2;
        justify-self: end;
      }
      .profile-name-role {
        grid-area: 1;
      }
      .profile-bio {
        grid-column-end: span 2;
      }
      @include bp(mid) {
        grid-template-columns: 70% 30%;

        .profile-img-wrapper {
          grid-column: 2;
        }
        .profile-name-role {
          grid-area: 1;
        }
        .profile-bio {
          grid-column: 1;
        }
      }
      @include bp(large) {
        display: unset;
      }
    }
  }
}
