.landing-page {
  @import './landingSplash.scss';
  @import './testimonials.scss';
  @import './photoBar.scss';
  @import './playGame.scss';

  & > div {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }
}
