.landing-splash {
  width: 100%;
  padding: 5rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  div {
    font-family: $text-font;
    color: $white;
    font-size: 3rem;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &.typing-text-wrapper {
      line-height: 4rem;
      font-weight: 200;
      font-style: italic;
      .typing-text {
        font-weight: 500;
      }
      .blink {
        opacity: 1;
        transition: opacity 0.65s ease-out;
        &.off {
          opacity: 0;
          transition: opacity 0.65s ease-in;
        }
      }
    }
  }
}
