.landing-splash {
  padding: 2rem;
  background-color: $jade;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;

  @include bp(mid) {
    flex-direction: row;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
    @include drop-shadow;

    @include bp(mid) {
      max-width: 50%;
    }
  }

  .typing-text-wrapper {
    font-family: $text-font;
    color: $white;
    font-weight: 200;
    font-style: italic;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include text-shadow;
    @include bp(small) {
      font-size: 3rem;
      line-height: 3.6rem;
    }
    @include bp(mid) {
      width: 50%;
      padding-right: 1rem;
      margin-bottom: 0;
    }
    @include bp(tablet) {
      font-size: 3.6rem;
      line-height: 4.2rem;
    }

    .typing-text {
      font-weight: 500;
    }
    .blink {
      opacity: 1;
      transition: opacity 0.65s ease-out;
      &.off {
        opacity: 0;
        transition: opacity 0.65s ease-in;
      }
    }
  }
}
